@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Gentium+Book+Plus&family=Lato:wght@300&family=Montserrat:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,800&family=Open+Sans:ital,wght@1,600&family=PT+Sans&family=PT+Serif:ital@1&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700&family=Prompt:ital,wght@0,300;1,600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Permanent Marker", cursive; */
    background-color: black;
}